/* TODO Add site wide styles */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    overflow-x: hidden;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-link{
    text-decoration: none;
}

* {
    box-sizing: border-box
}
