.write-a-review-wrapper{
    margin-top: 94px;
    min-height: 81vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 3rem;
}
.nav-bar-center-div-write-review {
    width: 100%;
    min-width: 473px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;

}

.search-bar-div-write-review{
        display: flex;
        width: 100%;
        min-width: 408px;
        box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
        align-items: center;
        border-radius: 5px;
        background-color: transparent;
}

.left-side-wrapper{
    width: 65%;
    min-width: fit-content;
}
.write-review-title{
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-result-wrapper-write-review{
    display: flex;
    width: 61%;
    min-width: 405px;
    position: absolute;
    top: 335px;
}
.search-results-wrapper-write-review{
    /* position: absolute; */
        border-radius: 4px;
        top: 335px;
        background-color: white;
        padding: 1rem;
        width: 100%;
        min-width: fit-content;
}

.search-bar-write-review {
    width: 50%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-result-keyword-write-review{
    width: 50%;
    min-width: fit-content;
}
