.top-nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 24px 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    z-index: 1;
}

.top-nav-navlink-wrapper{
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.top-nav-navlink-button{
    height: 33px;
    width: 70px;
    border-radius: 3px;
    font-size: 0.9rem;
}

.signup-button{
    color: white;
    background-color: #E00707;
    border: 1px solid #E00707;
}

.login-button{
    border: 1px solid rgb(234, 234, 234);
    /* color: rgb(234, 234, 234); */
    color: white;
}

.login-button:hover{
    background-color: rgba(255, 255, 255, 0.2)
}
.nav-link-redirect{
    /* color: rgb(234, 234, 234); */
    color: white;
    margin-right: 0.7rem;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
}


.nav-link-redirect:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.black-color{
    color: black;
}

.black-color:hover{
    background-color: rgba(0, 0, 0, 0.1)
}
.nav-dropped-down{
    position: absolute;
    height: 100px;
    width: 150px;
    top: 70px;
    right: 35px;
    text-decoration: none;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 1rem 0;
}
.user-profile{
    font-size: 34px;
    cursor: pointer;
}

.users-icon:hover{
    box-shadow: 0px 0px 5px black;
}

.users-icon{
    border-radius: 51%;
}


#logout{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    height: 30px;
}

#logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#logout-div{
    padding-left: 0.5rem;
}
